
.navbar{
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

h3{
    font-family: sans-serif;
    color: white;
}
.bg-light {
  background-color: #343a40;
}

body {
  margin-top: 50px;
}

#unserteam {
  position: relative;
}

.container{
  margin-top: 100px;
}

.newarrival{
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.col-md-7 h2{
  color: #555;
}
.price{
  color: #343a40;
  font-size: 26px;
  font-weight: bold;
  padding-top: 20px ;
}
input{
  border: 1px solid #ccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}


.cart{
  color: #343a40;
  font-size: 15px;
  margin-left: 20px;
}
#price {
  background-color: #eee;
}

.aprice {
    text-decoration: none;
    color: black;
}
.aprice:hover {
  text-decoration: none;
  color: black;
}
