Planung/~$Planung.xlsx
Planung_Entscheiden/~$Gantt-Diagramm.xlsx
Dokumentation/~$Doku.docx
Dokumentation/~WRL0003.tmp
    Dokumentation/~WRL2536.tmp
Dokumentation/~$Prüfprotokoll.xlsx
Dokumentation/~WRL3644.tmp
IPERKA/.$Visualisierung_von_Website.drawio.bkp
Dokumentation/~WRL4056.tmp
